.side-nav {
  height: 100%;
  width: 240px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--second-color);
  overflow-x: hidden;
  padding: 40px 0 220px 35px;
}

.side-nav h2 {
  font-size: 2em;
  margin-bottom: 10px;
  color: var(--first-color)
}

.side-nav .side-nav__items {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80%;
  color: var(--first-color);
}

.side-nav .nav-item {
  padding: 0 0 0 10px;
  font-size: 1.15em;
  vertical-align: middle;
  position: relative;
}

.side-nav .nav-item .bx {
  font-size: 1.4em;
  position: absolute;
  top: 2px;
}

.side-nav .nav-item .nav-text {
  margin-left: 45px;
}

.side-nav .nav-item a:hover {
  color: rgb(228, 154, 119)
}

.side-nav .nav-item.active a {
  color: rgb(228, 154, 119)
}